@import './styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

.main-container {  
  display: grid;
  grid-template-columns: 1fr 1fr 1.9fr;
  grid-template-rows: 0.1fr 0.2fr 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "options contents contents"
    "footer footer footer";
  margin: 0;
  margin-top: 20px;
  padding: 0;
  
}
.logo-name{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0;

  .ubica {
    color: black;
  }
  
  .todo {
    color: #6f62ae;
  }
  
}
.logo-texto{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 10px;
  cursor: pointer;
}
.image-logo{
  width: 40px;
}
.header { 
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  margin-left: 50px;
  margin-right: 30px;
}

.options { 
  grid-area: options;
  margin-top: 30px; 
  margin-right: 0;
}

.contents {
  margin-top: 50px;
  margin-left: 0;
  margin-right: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-area: contents; 
}

.footer { 
  grid-area: footer; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25px;
  font-size: 15px;
  font-weight: 700;
  background-color: white;
  text-align: center;
  margin-top: 40px;
}
.form-control{
  margin-right: 2px;
}
